<nav class="navbar-container">
    <div class="navbar">
        <div class="navbar-header">
            <!-- {logo && <img alt="" src={logo} />} -->
            <a href="/">Adem Enes</a>
        </div>
        <ul class="navbar-list">
            <li class="navbar-list-item">
                <a href="/">Home</a>
            </li>
            <li class="navbar-list-item">
                <a href="/products">Products</a>
            </li>
            {# <div class="navbar-list-item">
                <label class="navbar-dark-mode-container">
                    <input type="checkbox" id="dark-mode" />
                    <div class="navbar-dark-mode-btn"></div>
                </label>
            </div> #}
        </ul>
    </div>
</nav>