---
title: Hello
layout: "base.njk"
---

<div class="products-container">
    <ul role="list" class="products-list">
        {%- for quote in quotes | reverse-%}
        <li style="text-align: center; width: 70%;margin-bottom: 20px; border: 1px solid var(--secondary);
             border-radius: 10px; padding: 15px;">
            <p> {{quote.quote}} </p>
            <div style="text-align: right; font-weight: bold; padding: 10px;">
                - {{quote.author}}
            </div>
        </li>

        {% endfor %}
    </ul>
</div>